@page
@model Group14.Rambo.Web.Pages.PlantsModel
@{
    ViewData["Title"] = "Plants";
}

<h2>Plants</h2>
<div class="row">
    <div class="col-md-3 plantBorder">
        <div class="row">
            <div class="col-md-12">
                <h2>Kamerplant A</h2>
            </div>
        </div>
        <div class="row centerThis">
            <div class="col-md-12">
                <img src="~/images/306672.svg" class="mx-auto d-block thumb" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Val A</div>
            <div class="col-md-3">Val B</div>
            <div class="col-md-3">Val C</div>
            <div class="col-md-3">Val D</div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 plantBorder">
        <div class="row">
            <div class="col-md-12">
                <h2>Kamerplant A</h2>
            </div>
        </div>
        <div class="row centerThis">
            <div class="col-md-12">
                <img src="~/images/306672.svg" class="mx-auto d-block thumb" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Val A</div>
            <div class="col-md-3">Val B</div>
            <div class="col-md-3">Val C</div>
            <div class="col-md-3">Val D</div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 plantBorder">
        <div class="row">
            <div class="col-md-12">
                <h2>Kamerplant A</h2>
            </div>
        </div>
        <div class="row centerThis">
            <div class="col-md-12">
                <img src="~/images/306672.svg" class="mx-auto d-block thumb" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Val A</div>
            <div class="col-md-3">Val B</div>
            <div class="col-md-3">Val C</div>
            <div class="col-md-3">Val D</div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


